body{
    background-color:#F5F5F5;
}
#video{
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

#navegacao ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#navegacao a{
    color: #a4b7c7;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.home{
    position: absolute;
    top: 5%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.sobre{
    position: absolute;
    top: 5%;
    left: 36%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.catalogo{
    position: absolute;
    top: 5%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.agendamento{
    position: absolute;
    top: 5%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

h1{
    width: 900px;
    position: absolute;
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 100px;
    color: #c39e53;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}


.sonho{
    font-family: 'Tangerine', cursive;
    color: #f5a506;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 110%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

div h2{
    font-family: 'Tangerine', cursive;
    color: #054b8d;
    font-size: 40px;
    font-weight: bold;
}

p{
    color: #abb8c3;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}

#sobre{
    margin: 20px;
}

li:hover, button:hover{
    border: 1px solid #fcf5f5;
    box-shadow: 0px 0px 2px 1px #000000;
    cursor: pointer;
    border-radius: 8px;
    background: #054b8d;
}

footer h3{
    font-family: 'Tangerine', cursive;
    color: #054b8d;
    font-size: 40px;
    margin: 20px;
}

#agendamento{
    margin: 10px;
}

.volte{
    display: flex;
    justify-content: center;
    margin: 70px;
    font-size: 35px;
    font-family: 'Tangerine', cursive;
    text-decoration: none;
    color: #054b8d;
}